html { height: 100%; }

body {
    background-image: url('../images/archer/grey.png');
    height: 100%;
}

.container {
    background-image: url('../images/archer/bkg.png');
    height: 100%;
}

.container.dashboard {
    margin: auto;
    min-width: 960px;
    max-width: 1200px;
}
#header.columns {
    margin-left:10px;
    height: 460px;
    background-image: url('../images/archer/shine.png');
    background-repeat: no-repeat;
    overflow: visible;
}

#header.columns img {
    margin-top: 100px;
    margin-bottom: 30px;
    height: 50%;
}

.archer.form.details {
    text-align: center;
}

#regPrompt {
    font-weight: bold;
    text-align: center;
}

.shadow {
    -webkit-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.15) !important;
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.15) !important;
}

.heavy.shadow {
    -webkit-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.3) !important;
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.3) !important;
}

#header h1 {
    color: #FFF;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px;
}

.hidden { display: none; }

.alert-box.centertext {
    text-align: center;
}

.form-field.success label, label.green { color: #006600; }

div.top.row, .top.logo { height: 50px; }
div.top.row { padding-top: 20px; margin-bottom: 10px; }

.top.logo {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-image: url('../images/archer/toplogo.png');
}
