html {
    background-image: url('../images/archer/grey.png');
    height: 100%;
}

body {
    background-image: url('../images/archer/grey.png');
    background-repeat: repeat;
    min-width: 960px;
    height: 100%;
}

.row.full-height, .row.footer {
    min-height: 95%;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 8px groove #234;
    border-right: 8px groove #234;
}

.row.etched {
    background-image: url('../images/archer/bkg.png');
    background-repeat: repeat;
   -webkit-box-shadow:0 0 100px 70px rgba(0, 0, 0, 0.5);
   -moz-box-shadow:0 0 100px 70px rgba(0, 0, 0, 0.5);
   box-shadow:0 0 100px 70px rgba(0, 0, 0, 0.5);
}

.row.footer {
    height: 5%;
    min-height: 50px;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   padding-bottom: 5px;
}

#header.columns {
    margin-left:10px;
    height: 460px;
    background-image: url('../images/archer/shine.png');
    background-repeat: no-repeat;
    overflow: visible;
}

#header.columns img {
    margin-top: 100px;
    margin-bottom: 30px;
    height: 50%;
}

#header h1 {
    color: #FFF;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px;
}

.hidden { display: none; }

.centertext {
    text-align: center;
}

a.blocklink {
    display: block;
}

.subheader.white {
    color: #CCC;
}

.top.row { padding-top: 20px; padding-left: 50px; }
.top.logo {
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-image: url('../images/archer/toplogo.png');
}

li.disabled {
    color: #BBB;
}

div.panel.large.radius {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.copyright {
    padding: 5px 10px 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.4);
    color: #FFF;
    opacity: .05;
   transition: opacity .3s linear;
   -moz-transition: opacity .3s linear;
   -webkit-transition: opacity .3s linear;
}

.copyright:hover {
    opacity: .4;
}

span.loader {
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    background-image: url('../images/archer/ajax-loader.gif');
    height: 11px; width: 16px;
}