html { height: 100%; }

body {
    background-image: url('../images/archer/grey.png');
    height: 100%;
}

.container {
    background-image: url('../images/archer/bkg.png');
    height: 100%;
}

.container.dashboard {
    margin: auto;
    min-width: 960px;
    max-width: 1200px;
}
#header.columns {
    margin-left:10px;
    height: 460px;
    background-image: url('../images/archer/shine.png');
    background-repeat: no-repeat;
    overflow: visible;
}

#header.columns img {
    margin-top: 100px;
    margin-bottom: 30px;
    height: 50%;
}

.archer.form.details {
    text-align: center;
}

#regPrompt {
    font-weight: bold;
    text-align: center;
}

.shadow {
    -webkit-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.15) !important;
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.15) !important;
}

.heavy.shadow {
    -webkit-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.3) !important;
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.3) !important;
}

#header h1 {
    color: #FFF;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px;
}

.hidden { display: none; }

.alert-box.centertext {
    text-align: center;
}

.form-field.success label, label.green { color: #006600; }

div.top.row, .top.logo { height: 50px; }
div.top.row { padding-top: 20px; margin-bottom: 10px; }

.top.logo {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-image: url('../images/archer/toplogo.png');
}

.top.settings {
    height: 30px;
    margin-top: 12px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    background-color: transparent;
    background-image: url('../images/archer/gear.png');
}

.top.settings.hover {
    background-image: url('../images/archer/gear2.png');
}

a#gear {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#settings-menu {
    padding: 20px 20px 20px 20px;
    background: #eaeaea;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F0F0F0));
    background: -o-linear-gradient(top, #ffffff 0%,#f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F0F0F0',GradientType=0 );
    -webkit-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    margin: 0 0 20px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    width: 10em;
    z-index: 100;
    top: 70px;
    right: 475px;
    display: none;
}

#settings-menu > a {
    display: block;
    font-weight: bold;
    margin-top: 1em;
}

#settings-menu > a:hover, #settings-menu > a:focus {
    display: block;
    color: #19773a;
}
