<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>secret</param-name>
        <param-value>Fq1Z0GrP4Rnj</param-value>
    </context-param>
    <filter>
        <filter-name>Gatekeeper</filter-name>
        <filter-class>system.Gatekeeper</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Gatekeeper</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/dashboard/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>checkUsername</servlet-name>
        <servlet-class>system.CheckUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerformRegistration</servlet-name>
        <servlet-class>system.PerformRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardMain</servlet-name>
        <jsp-file>/dashboard.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>Logs out from Archer</description>
        <servlet-name>PerformLogout</servlet-name>
        <servlet-class>system.PerformLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProjects</servlet-name>
        <servlet-class>system.GetProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTasks</servlet-name>
        <servlet-class>system.GetTasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsers</servlet-name>
        <servlet-class>system.GetUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetComments</servlet-name>
        <servlet-class>system.GetComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEntity</servlet-name>
        <servlet-class>system.CreateEntity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerformLogin</servlet-name>
        <servlet-class>system.PerformLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkUsername</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformRegistration</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformLogout</servlet-name>
        <url-pattern>/dashboard/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProjects</servlet-name>
        <url-pattern>/dashboard/projects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTasks</servlet-name>
        <url-pattern>/dashboard/tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsers</servlet-name>
        <url-pattern>/dashboard/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetComments</servlet-name>
        <url-pattern>/dashboard/comments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEntity</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardMain</servlet-name>
        <url-pattern>/dashboard/*</url-pattern>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>SSL</display-name>
        <web-resource-collection>
            <web-resource-name>AllPages</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
